<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/GTICS_F.html :: head(title='Tecnico - Crear nuevo')}">
</head>
<body class="container">
<div th:insert="~{/GTICS_F.html :: navbar}"></div>
<h2 th:text="${tecnico.technicianID==0? 'Nuevo Tecnico':'Editar Tecnico'}">GA</h2>
<form method="post" th:action="@{/tecnicos/save}" th:object="${tecnico}">                <!-- COMPLETAR -->
    <input th:field="*{technicianID}" type="hidden"/>

    <div class="mb-3">
        <label>Nombre</label>
        <input th:field="*{firstName}" type="text" class="form-control"
               th:classappend="${#fields.hasErrors('firstName')?'is-invalid':''}"/>
        <div id="validationServer53Feedback" class="invalid-feedback"
             th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
            Mensaje de error de nombre
        </div>
    </div>

    <div class="mb-3">
        <label>Apellido</label>
        <input th:field="*{lastName}" type="text" class="form-control"
               th:classappend="${#fields.hasErrors('lastName')?'is-invalid':''}"/>
        <div id="validationServer03Feedback" class="invalid-feedback"
             th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
            Mensaje de error de apellido
        </div>
    </div>


    <div class="mb-3">
        <label>DNI</label>
        <input th:field="*{dni}" type="text" class="form-control"
               th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}"/>
        <div id="validationServer43Feedback" class="invalid-feedback"
             th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
            Mensaje de error de dni
        </div>
    </div>



    <div class="mb-3">
        <label>PHONE</label>
        <input th:field="*{phone}" type="text" class="form-control"
               th:classappend="${#fields.hasErrors('phone')?'is-invalid':''}"/>
        <div id="validationServer13Feedback" class="invalid-feedback"
             th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
            Mensaje de error de phone
        </div>
    </div>

    <div class="mb-3">
        <label>Edad</label>
        <input th:field="*{age}" type="text" class="form-control"
               th:classappend="${#fields.hasErrors('age')?'is-invalid':''}"/>
        <div id="validationServer83Feedback" class="invalid-feedback"
             th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
            Mensaje de error de age
        </div>
    </div>



    <a th:href="@{/tecnicos/list}" class="btn btn-danger">Cancelar</a>                 <!-- COMPLETAR -->
    <button type="submit" class="btn btn-primary">Registrar</button>                <!-- COMPLETAR -->
    <div class="row">
        <div class="form-group"></div>
    </div>
</form>
</body>
</html>